<!DOCTYPE html>
<html>
  <head>
    <title>The Gallery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include('navbar') %>

    <h2>ARTIST INFO</h2>

    <a href="/work/showWorkForm/<%= resultArtist[0].artist_id %>">Add Work</a>

    <a href="/artist/editArtist/<%= resultArtist[0].artist_id %>">Edit profile</a>

    <br />
    <img
      src="/images/artists/<%= resultArtist[0].img %>"
      alt=""
      width="200"
    />
    <p><%= resultArtist[0].name %></p>
    <p><%= resultArtist[0].email %></p>
    <hr />
    <h2>WORKS OF THIS ARTIST</h2>
    <% resultWork.forEach(work => { %>
    <img src="/images/works/<%= work.img %>" alt="" width="200" />
    <p><%= work.title %></p>
    <a href="/work/showWorkEditForm/<%= work.work_id %>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
    <a href="/work/deleteWork/<%= work.work_id %>/<%= resultArtist[0].artist_id %>" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete</a>


    <% }) %>

</body>
</html>
