<!DOCTYPE html>
<html>
  <head>
    <title>Home-The Gallery</title>
    <meta content="width=device-width, initial-scale=0.97" name="viewport" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container-fluid body-general">
      <div class="row row-hero">
        <div class="col-12 col-hero d-flex align-items-center text-center">
          <p class="p-pre-title">Welcome to</p>
          <h1 class="h1-web-title">The Gallery</h1>
          <p class="p-post-title">All Talent in One Place</p>
        </div>
      </div>

      <div class="container">
        <div class="row row-introduction">
          <div class="col-lg-6 col-sm-12 col-xs-12 col-introduction">
            <h3>Our Community</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, laboriosam. Harum minus cum, laborum distinctio placeat fuga eos reiciendis aspernatur ab veniam. Facilis iste voluptatibus deleniti magnam quaerat itaque totam.</p>
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12 col-introduction">
            <h3>What we do</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, laboriosam. Harum minus cum, laborum distinctio placeat fuga eos reiciendis aspernatur ab veniam. Facilis iste voluptatibus deleniti magnam quaerat itaque totam.</p>
          </div>
        </div>
      </div>

      <div class="container-fluid container-testimony">
        <div class="row row-testimony">
          <div class="col-lg-12 col-testimony d-flex">
            <div class="recuadro-testimony">
              <img class="img-testimony" src="/images/artists/testimony.jpg" alt="">
              <h3 class="h3-testimony">"The help I needed"</h3>
              <div class="recuadro-testimony-interior">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus quia voluptatum numquam quod incidunt saepe eveniet unde eius dolorum dolore.</p>
                <a class="btn-general btn-testimony" href="/artist/allArtists">See Our Artists</a>
              </div>
            </div>           

          </div>
        </div>
      </div>

      <div class="title-our-artists">
        <h3>Our Artists</h3>
      </div>    
      <div class="container container-artists-loop d-flex">               
        <% resultArtist.forEach(artist => { %>
        <div class="row row-artists-loop">  
          
          <div class="col-lg-4 col-sm-6 col-xs-12 col-artists-loop_ d-flex">
            <a href="/artist/oneArtist/<%= artist.artist_id %>">
              <img class="img-artists-loop"
                src="/images/artists/<%= artist.img %>"
                alt=""
                width="280"
              />
              <div class="artist-name-in-loop">
                <h5 class="h5-artists-name" style="color:black;"><%= artist.alias %></h5>
              </div>
            </a>
          
          </div>

        </div>
        <% }) %>   

      </div>

  <%- include('footer') %>

  </body>
</html>
